<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire d'inscription</title>
    <link rel="stylesheet" href={{asset('style.css')}}>
</head>
<body>
<form action ="cv-job.pdf">
  <label>Nom:</label>
  <input type="text" name="name" required>
  <br>
  <label>Prénom:</label>
  <input type="text" name="surname" required>
  <br>
  <label>Email:</label>
  <input type="email" name="email" required>
  <br>
  <label>Nom de la société:</label>
  <input type="text" name="company" required>
  <br>
  <label>Numéro de téléphone:</label>
  <input type="tel" name="phone" required>
  <br>
  <button type="submit" id="download-button" >Télécharger mon CV</button>
</form>


    
    
</body>
</html>