<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mon cv</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">


	</head>
	<body id="body-cv">
		<div class="header-section">
			<strong>
				<em>
					<h1>Administrateur réseau</h1>
				</em>
			</strong>
		</div>
		<div class="container-cv">
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Formations</h2>
						</em>
					</strong>
					
					<ul class="section-text">
						<li>
							2022-2023<br>
							Actuellement en 1ère année B.U.T. Réseau et Télécommunication, I.U.T.  Roanne,<br>
							Université de Jean Monnet Saint Etienne.
						</li><br>
						<li>2021-2022<br>Licence 1 physique,<br>
							Université Gamal Abdel Nasser de Conakry</li><br>
						<li>2020-2021<br>
							Baccalauréat série scientifique, Lycée Ousmane Camara.

						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Compétences</h2>
						</em>
					</strong>
					
					<ul class="section-text">
						<li>Maitrise des protocoles TCP/IP, DNS, DHCP, etc.</li>
						<li>RESEAUX et ADMINISTRATION
						</li>
						<li>conception d'un reseau local
						</li>
						<li>Mise en place des routeurs et des switchs</li>
						<li>mise en place d'une securite via SSH</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Expériences</h2>
						</em>
					</strong>
					
					<ul class="section-text">
						<li>Stagiaire en Réseau opérateurs et multimedia</li>
					
						<li>conception d'un reseau local
						</li>
						
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Loisirs</h2>
						</em>
					</strong>
				
					<ul class="section-text">
          <li>Football</li>
						<li>Volley-ball</li>
						<li>Rugby-ball</li>
						<li>Musique</li>
						<li>Gaming</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Contact</h2>
						</em>
					</strong>
					
					<ul class="section-text">
						<li>Bah Mamadou, Etudiant en premiere année
						</li>
						<li>Email : mamadou@gmail.com</li>
						<li>Téléphone : +33 010000000</li>
						<li>Adresse : Rue de Matel</li>
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<h3>
				<strong>
					©
				</strong>copyright bah iut roanne 2023</h3>
			<span class="vertical-line"></span>
			<table>
				<tr>
					<h3>
						Nous contacter</h3>
				</tr>

				


				</td>
			</table>

		</footer>
	</body>
</html></body></html>
