<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="{{asset('style.css')}}">

</head>

<body
  <nav>
  <ul>
    <li><a href="cv">Mon cv</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="loisir">Loisir</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
  <strong><em> <h3>MAMADOU </h3></em></strong>
  
</nav>

<div class="container">
    <p> Nous sommes ce que nous faisons de manière répétitive, 
    <p>l'excellence n'est donc pas un acte mais une habitude </p>
    <p>Nom: Bah
    </p>
    <p>Prenom: Mamadou
    </p>
    <p>Email: mamadou.bah@gmail.com</p>
    <p>téléphone: 0652288438
    <a href="loisir"> En savoir plus</a>
  </div
   <footer>
    <p>Copyright ©2022 MonSiteWeb</p>
  </footer>

</body>

</html>

