<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href={{asset('style.css')}}>
</head>

<body>
  <nav>
  <ul>
    <li><a href="cv">Mon cv</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="loisir">Loisir</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
  <strong><em> <h3>MAMADOU </h3></em></strong>
  
</nav>

<div class="container">
    <p>Contenu de votre site web</p>
    <a href="loisir">En savoir plus</a>
  </div
   <footer>
    <p>Copyright ©2022 MonSiteWeb</p>
  </footer>

</body>

</html>

