<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={{asset('loisir.css')}}>
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Mes Loisirs</h1>
  </header>
  <main>
    <section>
      <h2>Activités en extérieur</h2>
      <ul>
        <li>Randonnée</li>
        <li>Vélo</li>
        <li>Camping</li>
        <img src="image/velo.png" style="width : 30%">
      </ul>
    </section>
    <section>
      <h2>Jeux d'intérieur</h2>
      <ul>
        <li>Jeux de société</li>
        <li>Puzzles</li>
        <li>Jeux vidéo</li>
        <img src="image/puzzle.png" style="width : 30%">
      </ul>
    </section>
    <section>
      
    </section>
    <section>
      <h2>Projets bricolage</h2>
      <ul>
        <li>Menuiserie</li>
        <li>Jardinage</li>
        <li>Électronique</li>
        <img src="image/Capture.PNG"  style="width : 30%">
      </ul>
    </section>
  </main>
  ......
</body>
</html>