<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
              <header>
    <h1>Mon Portfolio</h1>
    <nav>
      
          <h3>Compétence1 </h3>
          <p>Administrer les réseaux et internet : je maitrise les lois fondamentales de l'électricité afin d'intervenir sur des équipements de réseaux de télécommunications, capable aussi de configurer les fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique).</p>
          <img src="image/administer.jpg" style="width : 30%">
        </li>
        <li>
          <h3>Compétence2</h3>
          <p>Connecter les entreprises et les usagers : maitrise parfaitement les supports de transmission (traitement au choix de la propagation, câblage LAN, fibre optique), caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</p>
          <img src="image/connecter.jpg" style="width : 30%">
        </li>
        <li>
          <h3>Compétence3</h3>
          <p>Créer des outils et applications informatiques pour les R&T : je connais l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS, CMS, JS, responsive)

</p>
          <img src="image/programmer.jpg" style="width : 30%">
        </li>
      </ul>
    </section>
   
  </main>    
</body>
</html>