nav {
  background-color: rgba(43, 173, 141, 0.658);
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 15px ;
  padding: 
  30px 50px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

body{
  background-color: rgb(151, 190, 87);
}

nav li {
  margin: 0 10px;
  padding: 0 50px;
}
 h3{
  margin-top: 2px;
 }

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #cccccc;
}
.container {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  box-shadow: 10px 5px 5px black;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px;

}

/* contact */


label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

/* cv */
body {
  font-family: Arial, sans-serif;
}
header {
  background-color: #007bff;
  color: white;
  padding: 1em;
}